.edgePath path {
    stroke: #000; /* Arrow color */
    fill: #000; /* Arrow Tip color */
    stroke-width: 1.5px;
}

foreignobject {
    color: #000;
}

.node rect,
.node circle,
.node ellipse,
.node polygon {
  stroke: #000;
  fill: #FFF;
  fill-opacity: 0;
}
