.well li,
#input_regex {
    font-family: Consolas;
}

.well li,
#input_regex_raw {
    font-family: Consolas;
}

.svg-container {
  width: 95%;
  height: 95%;
  overflow: auto;
}

svg {
  width: 100%;
  height: 100%;
}

td:hover {
  background-color: #419488;
}